@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&display=swap');

:root {
  --primary-color: #454545;
  --secondary-color: #858585;
  --backup-color: rgb(185, 185, 185);
  --accent-color: rgb(172, 24, 44);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Kumbh Sans', sans-serif;
}

body {
  max-width: 100%;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  color: var(--primary-color);
  padding: 0;
  margin: 0;
}

p,
a,
li {
  color: var(--secondary-color);
  padding: 0;
  margin: 0;
  font-size: 0.65rem;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

ul li {
  list-style: none;
}



/* --- CV */

#cv {
  width: 35vw;
  min-height: 80vh;
  background: linear-gradient(75deg, #FDFDFE 0%, #D8D7DD 100%);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  padding: 1rem 2rem;
  position: relative;
}

@media (max-width: 1000px) {
  #cv {
    width: 100%;
    margin: 1rem;
  }
}



/* --- Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

header .contact li {
  list-style: none;
}

header .contact a {
  color: inherit;
}


/* --- Main */

main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 2rem;
}

main section {
  display: flex;
  flex-flow: wrap column;
  gap: 1rem;
}

.mainCol {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main section span {
  color: var(--backup-color);
  font-size: 0.6rem;
  font-weight: 100;
  margin-bottom: -0.8rem;
}

#skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



/* --- Footer */

footer {
  position: absolute;
  right: 0;
  bottom: 0;
}

footer img {
  width: 2.5rem;
  min-height: auto;
  margin: 1rem;
}

/* --- Background */

.sphere1 {
  position: absolute;
  left: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: rgb(207, 20, 20);
  animation: animateBkg 10s infinite;
}

@keyframes animateBkg {
  from {
    transform: translateX(500px) scale(0.8);
  }

  25% {
    transform: translateY(200px) scale(2);
    background: rgb(45, 20, 207);
  }

  75% {
    transform: translateX(1800px) scale(3);
  }

  to {
    transform: translateX(500px) scale(0.8);
  }
}

@media (max-width: 1000px) {
  .sphere1 {
    display: none;
  }
}